img{
	max-width:100%;
}
nav li{
    margin: 0 13px;
}
#intro{
	padding-top:100px;
}
#main .container{
	margin-left:0;
	max-width:100%;
}
.border{
	padding:10px 10px 0px 10px;
	margin-bottom:16px;
}
#main h4{
	margin-left:10px;
}
.full{
	padding-right: 20px;
}
.card{
	position: fixed;
	bottom: 300px;
	right: 10px;
}