* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 10px;
  width: 70%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

div.a div{
    padding-right:10px;
    display:inline;
}

div.b{
    border-radius:5px;
    width:20px;
}

div.f{
    background-color:#ccc;
    border:1px solid #ccc;
    border-radius:10px;
    width:300px;
    padding:5px;
    margin:10px 5px 5px 0px;
}

div.swdetail,.paneldetail{
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius:7px;
    padding:5px;
    margin:5px;
    font-size:14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}