

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f0f0f0;
}

.header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.nav {
  float: left;
  width: 18%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav a {
  float: left;
  display: block;
  color: black;
  font-style:bold;
  text-align: center;
  padding-bottom:30px;
  text-decoration: none;
}

.content {
  float: left;
  padding: 10px;
  width: 32%;
  background-color: white;
}

.graph {
  float: left;
  padding: 10px;
  width: 50%;
  background-color: #ccc;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} 

.footer {
  padding: 20px;
  text-align: center;
  background: #990000;
  color:white;
  margin-top: 20px;
}

div.a div{
    padding-right:10px;
    display:inline;
}

div.b{
    border-radius:5px;
    width:20px;
}

div.f{
    background-color:#ccc;
    border:1px solid #ccc;
    border-radius:10px;
    width:300px;
    padding:5px;
    margin:10px 5px 5px 0px;
}

div.swdetail,.whitebox{
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius:7px;
    padding:5px;
    margin:5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}